.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 36px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  &:hover {
    span {
      width: 36px;
    }
    .long {
      width: 30px;
    }
  }
  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .long {
    width: 36px;
  }
}