.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  transition: 0.6s all;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  &.active {
    visibility: visible;
    left: 0;
    opacity: 1;
  }
  &__block {
    position: relative;
    width: 345px;
    padding-top: 140px;
    padding-left: 40px;
    z-index: 10;
    transition: 0.6s all;
    height: 100%;
    background-color: var(--color-main);
  }
  &__close {
    position: absolute;
    top: 24px;
    right: 25px;
    cursor: pointer;
  }
  &__social {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 90px;
    a {
      text-decoration: none;
      svg {
        path {
          transition: 0.3s all;
        }
      }
      &:hover {
        svg {
          path {
            fill: var(--color-hover);
          }
        }
      }
    }

  }
  &__list {
    list-style-type: none;
    padding-left: 35px;
  }
  &__link {
    position: relative;
    color: #FFF;
    display: block;
    margin-top: 15px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &:before {
      position: absolute;
      content: ' ';
      top: 10px;
      left: -35px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid #000000;
      transition: 0.6s all;
    }
    &:hover {
      color: #fff;
      &:before {
        background-color: #fff;
        border: none;
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .75;
  }
}